- example = ''

%h3.heading-small{ id: "form-#{label.parameterize}" }= label

= form_for(model.new) do |f|
  - example = capture { eval(code) }

  .example
    = example

code:
%pre
  %code.language-ruby
    = preserve do
      :escaped
        #{model.name.underscore} = #{model.name}.new

        form_for #{model.name.underscore} do |f|
           # ...
           #{code}
           # ...
         end

outputs:
%pre
  %code.language-markup
    = example.gsub('><',">\n<")

- if locales_config
  locales file:
  %pre
    %code.language-markup
      = preserve do
        :escaped
          #{locales_config}