- example = ''
- locales_config ||= nil
- form_code ||= nil
- code ||= nil

%h3.heading-medium{ id: "form-#{label.parameterize}" }= label

- example += capture { eval(code.sub(/^- /,'').gsub("\n- ","\n") ) }.to_s + "\n" if code
- eval(code.sub(/^- /,'').gsub("\n- ","\n") ) if code
- person ||= model.new
= form_for(person) do |f|
  - example += capture { eval(form_code) }.to_s if form_code

  .example
    = example.html_safe

%p code:
- if code
  %pre
    %code.language-ruby
      = preserve do
        :escaped
          #{code}
%pre
  %code.language-ruby
    - if form_code
      = preserve do
        :escaped
          = form_for #{model.name.underscore} do |f|
            - #{form_code}

%p outputs:
%pre
  %code.language-markup
    = preserve do
      #{"\n" + example.gsub('><', ">\n  <").gsub('  </', '</') }

- if locales_config
  %p locales file:
  %pre
    %code.language-yaml
      = preserve do
        :escaped
          #{locales_config}